@model ContactViewModel

@{
    ViewData["Title"] = "Página de contato";
}

@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData["Message"]
    </div>
}
<form method="post" asp-controller="Contact" asp-action="SendContact" autocomplete="off">
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Insira seu nome">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" type="email" class="form-control" id="formGroupExampleInput2" placeholder="Insira seu e-mail">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Message" class="form-label"></label>
        <textarea asp-for="Message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Digite aqui..."></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Enviar" />
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}