@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MyGames</h1>
    <p>Compre os seus jogos preferidos no melhor preço do mercado! </p>
</div>
